/* CareerReportGenerator.css */

  .text-center {
    text-align: center;
  }
  
  .report-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error {
    color: red;
  }
  